body{
    direction: rtl;
}


a:hover{
    text-decoration: none;
}

#navbar{
    position: fixed;
    padding: 20px 40px;
    right: 0;
    left: 0;
    top:0;
    z-index: 100;
    transition-duration: 0.5s;
}

#logo a{
    color: white;
}

#toggler{
    position: absolute;
    left: 40px;
    top: 15px;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

#nav{
    position: fixed;
    background-color: rgba(0 , 0 , 0 , 0.8);
    width: 240px;
    right: -240px;
    top: 0;
    bottom: 0;
    line-height: 2.5em;
    padding-top: 30px;
    transition-duration: 0.4s;
}

#nav a{
    color: white;
    font-weight: 500;
    padding: 0 20px;
}

#nav a:hover{
    color: #bdf;
}

#top-carousel .carousel-item{
    height: 100vh;
    min-height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#top-carousel .carousel-overlay{
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , 0.4);
    padding-top: 100px;
}

#top-carousel li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#top-carousel .carousel-content{
    color: white;
    max-width: 900px;
    margin: 10% auto;
    padding: 0 70px;
}

#top-carousel .carousel-title{
    margin-bottom: 50px;
    font-size: 26px;
}

#top-carousel .carousel-text{
    margin-bottom: 50px;
    font-weight: 300;
}

#top-carousel .carousel-btn{
    border-radius: 40px;
    padding: 10px 40px;
}

@media (min-width: 768px) {
    #top-carousel .carousel-title{
        font-size: 36px;
    }
}

@media (min-width: 992px) {
    #toggler{
        display: none;
    }

    #nav{
        position: static;
        width: auto;
        background-color: transparent;
        padding-top: 0;
    }

    #nav li{
        float: right;
    }

    #navbar{
        display: flex;
    }

    #logo{
        order: 1;
        margin-right: auto;
    }

    #logo h4{
        margin-top: 4px;
        margin-bottom: 0;
    }
}








@media (min-width: 992px) {
    #toggler{
        display: none;
    }

    #nav{
        position: static;
        width: auto;
        background-color: transparent;
        padding-top: 0;
    }

    #nav li{
        float: right;
    }

    #navbar{
        display: flex;
    }

    #logo{
        order: 1;
        margin-right: auto;
    }

    #logo h4{
        margin-top: 4px;
        margin-bottom: 0;
    }
}


